###############################################################################
# Ignore these files
###############################################################################

.*
*~
*.db
*.log
*.md
docker-compose.yml
dockerfile
