###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*
*.db

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
